---
import Layout from '@/layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import TitleSection from '@/components/TitleSection.astro';
import Experience from '@/components/Experience.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import Projects from '@/components/Projects.astro';
import ProfileCheck from '@/components/icons/ProfileCheck.astro';
import About from '@/components/About.astro';
import Stack from '@/components/Stack.astro';
import UpButton from '@/components/UpButton.astro';
---

<Layout
  title='Portfolio - Cristian Jimenez'
  description='Together we will create unique experiences! 🚀'
>
  <main class='px-4'>
    <SectionContainer class='py-24 md:py-36'>
      <Hero />
    </SectionContainer>
    <div class='space-y-24 md:space-y-36'>
      <SectionContainer id='experience'>
        <TitleSection data-i18n='page.title.experience'>
          <Briefcase class='size-8' />
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id='projects'>
        <TitleSection data-i18n='page.title.projects'>
          <CodeIcon class='size-8' />
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id='about'>
        <TitleSection data-i18n='page.title.about'>
          <ProfileCheck class='size-8' />
        </TitleSection>
        <About />
        <Stack />
      </SectionContainer>
    </div>
  </main>
  <UpButton />
</Layout>
