---
import { getI18N } from '@/i18n';

interface Props {
  title: string;
  company: string;
  date: string;
  description: string;
}

const { title, company, date, description } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class='relative pb-6 md:col-span-2'>
    <span class='text-yellow-400 -left-[42px] absolute rounded-full text-5xl'>
      &bull;
    </span>
    <h2 class='text-xl font-bold text-yellow-400'>
      {i18n.experienceItem[title]}
    </h2>
    <h3 class='font-semibold text-xl text-gray-600 dark:text-white'>
      {company}
    </h3>
    <time class='p-0 m-0 text-sm text-gray-600/80 dark:text-white/80'>
      {i18n.experienceItem[date]}
    </time>
  </div>
  <div
    class='relative flex flex-col gap-2 text-gray-600 dark:text-gray-300 md:col-span-3'
  >
    {i18n.experienceItem[description]}
  </div>
</div>
