---
import { getI18N } from '@/i18n';
import Badge from './Badge.astro';
import ContactPills from './ContactPills.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class='max-w-xl'>
  <div class='flex gap-4 mb-4'>
    <img
      src='/me.webp'
      class='rounded-full shadow-lg size-16'
      alt='Cristian photo'
    />
    <a
      class='flex items-center transition md:justify-center md:hover:scale-105'
      href='https://www.linkedin.com/in/cristian-jimenez-sanchez-052819103/'
      target='_blank'
      rel='noopener'
      aria-label='LinkedIn profile'
    >
      <Badge />
    </a>
  </div>
</div>

<h1
  class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white'
>
  {i18n.hero.greet}
</h1>
<p
  class='mt-6 text-xl lg:w-3/4 text-pretty text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300'
>
  <strong>{i18n.hero.charge}</strong>
  {i18n.hero.presentation}
</p>
<ContactPills />
