---
import Badge from './Badge.astro';
import ContactPill from './ContactPill.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import MailIcon from '@/components/icons/Mail.astro';
---

<div class='max-w-xl'>
  <div class='flex gap-4 mb-4'>
    <img
      src='/me.webp'
      class='rounded-full shadow-lg size-16'
      alt='Cristian photo'
    />
    <a
      class='flex items-center transition md:justify-center md:hover:scale-105'
      href='https://www.linkedin.com/in/cristian-jimenez-sanchez-052819103/'
      target='_blank'
      rel='noopener'
      aria-label='LinkedIn profile'
    >
      <Badge>Open to work</Badge>
    </a>
  </div>
</div>

<h1
  class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white'
>
  Hey, I'm Cristian!
</h1>
<p
  class='mt-6 text-xl lg:w-3/4 text-pretty text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300'
>
  <strong>Civil engineer and software developer</strong> with 2 years of experience
  as a programmer. Focused on developing high-performance software following international
  guidelines for creating maintainable, extensible and clean code.
</p>
<nav class='flex flex-wrap gap-4 mt-5'>
  <ContactPill href='mailto:cristian.jimenezsa@hotmail.com' aria-label='Mail'>
    <MailIcon class='size-4' />
    Contact
  </ContactPill>
  <ContactPill
    href='https://linkedin.com/in/cristian-jimenez-sanchez-052819103'
    aria-label='LinkedIn profile'
  >
    <LinkedInIcon class='size-4' />
    LinkedIn
  </ContactPill>
</nav>
