---
import { projects } from '@/data/constants.js';
import ProjectsItem from './ProjectsItem.astro';
---

<div class='flex flex-col gap-y-16'>
  {projects.map((project) => <ProjectsItem {...project} />)}
</div>
