---
import { stack } from '@/data/constants';
---

<div
  class='carousel relative flex justify-start items-center gap-10 pt-4 overflow-hidden before:left-0 after:right-0 before:bg-gradient-to-l
  from-[#ffffff00] to-white dark:to-[#030712] after:bg-gradient-to-r after:from-[#ffffff00] after:to-white dark:after:to-[#030712]'
>
  <div class='track flex gap-10 animate-[slide_30s_linear_infinite]'>
    {stack.map((stk) => <stk.icon class={`size-12 ${stk.class}`} />)}
  </div>
  <div class='track flex gap-10 animate-[slide_30s_linear_infinite]'>
    {stack.map((stk) => <stk.icon class={`size-12 ${stk.class}`} />)}
  </div>
</div>

<style>
  .carousel:before,
  .carousel:after {
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    content: '';
    z-index: 2;
  }
  .carousel:hover .track {
    animation-play-state: paused;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-102%);
    }
  }
</style>
