---
import { useTranslatedPath } from '@/i18n/utils';
import HomeUpIcon from '@/components/icons/HomeUp.astro';

const { currentLocale } = Astro;
const translatePath = useTranslatedPath(String(currentLocale));
---

<a
  href={translatePath('/#', currentLocale)}
  target='_top'
  class='fixed bottom-6 right-6 p-1 rounded-full bg-yellow-500 dark:bg-yellow-200 shadow-sm shadow-purple-200'
  aria-label='Return to top'
>
  <HomeUpIcon class='size-6' />
</a>
