---
import HomeUpIcon from '@/components/icons/HomeUp.astro';
---

<a
  href='/#me'
  class='fixed bottom-6 right-6 p-1 rounded-full bg-yellow-500 dark:bg-yellow-200 shadow-sm shadow-purple-200'
>
  <HomeUpIcon class='size-6' />
</a>
